@{
    ViewData["Title"] = "Filmes";
    Layout = "~/Views/SHARED/_LayoutLogado.cshtml";
}

 <!--LINHA 1:-->
<div class="container-fluid textFilmS">
    <div class="row">

        <!--Spy x Family-->
        <div class="col">
            <img src="~/css/IMG/SpyFamily.png" alt="Pôster de Spy x Family (2022)" width="150"/>
            <h4>Spy x Family</h4>
        </div>

        <!--Jujutsu Kaizen-->
        <div class="col">
            <img src="~/css/IMG/JujutsuPoster.png" alt="Pôster de Jujutsu Kaizen: 0 (2022)" width="150" />
            <h4>Jujutsu Kaizen: 0</h4>
        </div>

        <!--Komi-San-->
        <div class="col">
            <img src="~/css/IMG/KomiPoster.png" alt="Pôster de Komi Can't Communicate (2022)" width="150" />
            <h4>Komi Can't Communicateh</h4>
        </div>

        <!--Dragon Ball-->
        <div class="col">
            <img src="~/css/IMG/DragonBrolyPoster.png" alt="Pôster de Dragon Ball Super: Broly (2018)" width="150" />
            <h4>Dragon Ball Super:<br />Broly</h4>
        </div>       
    </div>
</div>
<hr />
<br />

 <!--LINHA 2:-->
<div class="container-fluid textFilmS">
    <div class="row">

        <!--Brouto-->
        <div class="col">
            <img src="~/css/IMG/BorutoPoster.jpg" alt="Pôster de Boruto: The Next Generations (2016)" width="150"/>
            <h4>Boruto:<br />The Next Generations</h4>
        </div>

        <!--Bleach-->
        <div class="col">
            <img src="~/css/IMG/BleachPoster.jpg" alt="Pôster de Bleach (2016)" width="150" />
            <h4>Bleach</h4>
        </div>

        <!--Kimetsu-->
        <div class="col">
            <img src="~/css/IMG/SNKPoster.png" alt="Pôster de Shingeki no Kyojin (2012)" width="150" />
            <h4>Shingeki no Kiyojin</h4>
        </div>

        <!--Kimetsu-->
        <div class="col">
            <img src="~/css/IMG/KimetsuPoster.png" alt="Pôster de Kimetsu no Yaiba: Mugen Train (2019)" width="150" />
            <h4>>Kimetsu no Yaiba:<br />Mugen Train</h4>
        </div>       
    </div>
</div>
<hr />
<br />
