@{
    ViewData["Title"] = "Filmes";
    Layout = "~/Views/SHARED/_LayoutLogado.cshtml";
}

                <!--LINHA 1-->
<div class="container-fluid textFilmS">
    <div class="row">

        <!--Homem VS. Abelha-->
        <div class="col">
            <img src="~/css/IMG/ManVBeePoster.jpg" alt="Pôster de Homem Versus Abelha: A Batalha (2022)" width="150" />
            <h4>Homem X Abelha</h4>
            <h5>De Rowan Atkinson</h5>
        </div>

        <div class="col">
            <img src="~/css/IMG/ObiWanPoster.png" alt="Pôster de Obi-Wan Kenobi (2022)" width="150" />
            <h4>Obi-Wan Kenobi</h4>
            <h5>De Deborah Chow</h5>
        </div>

        <!--The Boys-->
        <div class="col">
            <img src="~/css/IMG/BoysPoster.png" alt="Pôster de The Boys (2022)" width="170" />
            <h4>The Boys</h4>
            <h5>De Hartley Gorenstein</h5>
        </div>


        <!--Stranger Things-->
        <div class="col">
            <img src="~/css/IMG/StrangerPoster.png" alt="Pôster de Stranger Things (2022)" width="150" />
            <h4>Stranger Things</h4>
            <h5>De Irmãos Duffer</h5>
        </div>
    </div>
</div>
<hr />
<br />

                <!--LINHA 2-->
<div class="container-fluid textFilmS">
    <div class="row">

        <!--Invencível-->
        <div class="col">
            <img src="~/css/IMG/InvinciblePoster.png" alt="Pôster de Invencível (2021)" width="150" />
            <h4>Invencível</h4>
            <h5>De Robert Kirkman</h5>
        </div>

        <!--The Walking Dead-->
        <div class="col">
            <img src="~/css/IMG/TheWalkingPoster.jpg" alt="Pôster de The Walking Dead (2012)" width="150" />
            <h4>The Walking Dead</h4>
            <h5>De Robert Kirkman</h5>
        </div>

        <!--Breaking Bad-->
        <div class="col">
            <img src="~/css/IMG/BreakingBadPoster.png" alt="Pôster de Breaking Bad (2008)" width="150" />
            <h4>Breaking Bad</h4>
            <h5>De Michelle McLaren<br />e outros</h5>
        </div>


        <!--O Livro de Bobba Fett-->
        <div class="col">
            <img src="~/css/IMG/BobbaFettPoster.png" alt="Pôster de O Livro de Bobba Fett (2021)" width="150" />
            <h4>O Livro de Bobba Fett</h4>
            <h5>De Robert Rodriguez</h5>
        </div>
    </div>
</div>
<hr />
<br />

                <!--LINHA 3-->
<div class="container-fluid textFilmS">
    <div class="row">

        <!--O Senhor dos Anéis-->
        <div class="col">
            <img src="~/css/IMG/LordRingsPoster.png" alt="Pôster de O Senhor Dos Anéis: Os Anéis do Poder (2022)" width="150" />
            <h4>O Senhor Dos Anéis:<br /> Os Anéis do Poder</h4>
            <h5>Wayne Yip<br />e outros</h5>
        </div>

        <!--Ms. Marvel-->
        <div class="col">
            <img src="~/css/IMG/MsMarvelPoster.png" alt="Pôster de Ms. Marvel (2022)" width="150" />
            <h4>Ms. Marvel</h4>
            <h5>De Bisha K. Ali</h5>
        </div>

        <!--Breaking Bad-->
        <div class="col">
            <img src="~/css/IMG/CavaleiroDaLuaPoster.png" alt="Pôster de Cavaleiro Da Lua (2022)" width="150" />
            <h4>Cavaleiro da Lua</h4>
            <h5>De Michelle McLaren<br />e outros</h5>
        </div>


        <!--She-Hulk-->
        <div class="col">
            <img src="~/css/IMG/SheHulkPoster.png" alt="Pôster de She-Hulk (2022)" width="150" />
            <h4>Doug Moench</h4>
            <h5>De Robert Rodriguez</h5>
        </div>
    </div>
</div>
<hr />
<br />

<div class="container-fluid textFilmS">
    <div class="row">

        <!--The Flash-->
        <div class="col">
            
        </div>

        <div class="col">

        </div>
    </div>
</div>

<div class="textFilmS">
    <input type="button" class="cadBut btn btn-secondary" value="1" />
    <a asp-area="" asp-controller="Conteudo" asp-action="Series_2">
        <input type="button" class="cadBut btn btn-secondary" value="2" />
    </a>

    <a asp-area="" asp-controller="Conteudo" asp-action="Series_2_Logado">
        <input type="button" class="cadBut btn btn-secondary" value="Próxima -->" /> 
    </a>

</div>
<br />